@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

/* Reseting browser default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General specifications */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #070e07;
}

/* Containers will be used in all main sections of the page */
.container {
  margin: 0 auto;
  padding: 0 30px;
}

/* Navbar */
.nav {
  background-color: #132a13;
  color: #f3f9c8;
  height: 60px;
}

/* Logo */
.nav .header {
  font-size: 24px;
  font-weight: bold;
}

/* Navbar Links */
.nav a {
  text-decoration: none;
  color: #f3f9c8;
  font-size: 18px;
}

/* Specifics for the navbar container*/
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Setting links as inlines */
.nav ul {
  display: flex;
}

/* Styling link items */
.nav ul li {
  list-style: none;
  margin-left: 20px;
}

/* Main Header */
.hero {
  background-color: #132a13;
  color: #f3f9c8;
  padding: 40px;
}

/* Title */
.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  text-align: center;
}

.hero p {
  text-align: center;
}

/* Image sizes */
.hero img {
  width: 300px;
  height: auto;
  margin-left: 20px;
}

/* Styling the header */
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling Information Header */
.info .header {
  font-size: 36px;
  font-weight: extra-bold;
  text-align: center;
}

/* Styling Images */
.info img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 8px solid #132a13;
}

.info .container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 40px auto;
}

.info .flowers {
  margin: 20px;
  align-items: center;
  text-align: center;
}
