@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

/* Reseting browser default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General specifications */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #070e07;
}

/* Containers will be used in all main sections of the page */
.container {
  margin: 0 auto;
  padding: 0 30px;
}

/* Navbar */
.nav {
  background-color: #132a13;
  color: #f3f9c8;
  height: 60px;
}

/* Logo */
.nav .header {
  font-size: 24px;
  font-weight: bold;
}

/* Navbar Links */
.nav a {
  text-decoration: none;
  color: #f3f9c8;
  font-size: 18px;
}

/* Specifics for the navbar container*/
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Setting links as inlines */
.nav ul {
  display: flex;
}

/* Styling link items */
.nav ul li {
  list-style: none;
  margin-left: 20px;
}

/* Main Header */
.hero {
  background-color: #132a13;
  color: #f3f9c8;
  padding: 40px;
}

/* Title */
.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  text-align: center;
}

.hero p {
  text-align: center;
}

/* Image sizes */
.hero img {
  width: 300px;
  height: auto;
  margin-left: 20px;
  border-radius: 5px;
}

/* Styling the header */
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero button {
  background-color: #b8c892;
  border: none;
  color: #132a13;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

/* Styling Information Header */
.info .header {
  font-size: 36px;
  font-weight: extra-bold;
  text-align: center;
  margin-top: 30px;
}

/* Styling Images */
.info img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 8px solid #132a13;
}

/* Styling Information Section */
.info .container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 40px auto;
}

/* Styling Content */
.info .flowers {
  margin: 20px;
  align-items: center;
  text-align: center;
}

/* Styling Quote Box */
.quote .container {
  background-color: #b8c892;
  align-items: center;
  padding: 40px;
}

/* Styling Quote Content */
.quote .text {
  margin-bottom: 10px;
  text-align: justify;
}

.quote .citation {
  font-weight: bold;
  text-align: end;
}

/* Call to Action  */
.action .container {
  background-color: #5e975e;
  color: #f3f9c8;
  margin: 40px 150px;
  padding: 20px;
  border-radius: 10px;
}

.action actionCall {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TODO Find out what's my problem with buttons */
.action button {
  background-color: #5e975e;
  color: #f3f9c8;
  border: #f3f9c8 solid 2px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}
